.login-page {
  background-color: var(--white-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-page-main,
.login-page-footer {
  padding: 0 25px;
}

.login-page-main {
  margin-bottom: 150px;
}

.login-page-footer {
  margin-bottom: 30px;
}

.login-form-input {
  margin-bottom: 20px;
}

.find-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: var(--grey-text-color);
}

.find-info-div {
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
}

.link-to-signup {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.link-to-signup span {
  color: var(--dark-grey-text-color);
}
