.login-button {
  width: 100%;
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  border-radius: 4px;
  padding: 10px 0;
  margin-bottom: 8px;
  color: var(--black-color);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button img {
  margin-right: 10px;
}
